<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="mainApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Markod App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhujYJ3rPc_91Y5qi0ah7FHMKUkk9AOl0"></script>
    <!--
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    -->

    <!-- Dependencies -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>

    <script src="bower_components/angular-ui-map/ui-map.min.js"></script>
    <script src="bower_components/angular-ui-event/dist/event.min.js"></script>

    <!-- Our Application Scripts -->
    <script src="javascripts/core.js"></script>
    <script src="javascripts/productCtrl.js"></script>
    <script src="javascripts/gmapsCtrl.js"></script>


</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body>
<div class="container">

    <!--
    <div id="map_canvas" ng-controller="mapCtrl">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
    </div>
    <br>
    -->
    <!-- Google Map -->
    <div class="container" ng-controller="gmapsCtrl">
        <div class="text-center">
            <h1>Welcome to markod !</h1>
            <br>
        </div>
        <div>
            <div id="map_canvas" style="height: 400px;" ui-map="model.myMap" class="jumbotron"
                 ui-options="mapOptions"
                 ui-event="{'map-idle' : 'onMapIdle()'}"
                 ui-event="{'map-click': 'showMarkets()'}">
            </div>
            <!--In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events -->
            <div ng-repeat="marker in marketMarkers" ui-map-marker="marketMarkers[$index]"
                 ui-event="{'map-click': 'markerClicked(marker)'}">
            </div>
        </div>
        <br>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row"  ng-controller="productCtrl">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO searchText IN ANGULAR -->

                        <input type="text" id="id_productSearchBox"
                               class="form-control"
                               placeholder="bal, çikolata, deterjan .."
                               uib-typeahead="product as product.name for product in queryProducts($viewValue) | limitTo:3"
                               ng-model="searchText"
                               typeahead-loading="loadingLocations"
                               typeahead-template-url="templates/product-tmpl.html"
                               typeahead-on-select="onProductSelect($item,$model,$label)"
                               typeahead-min-length="2">
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                        <!-- <pre>{{products | json}}</pre> -->
                        <!-- <p> {{searchText}} </p> -->

                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <!--<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>-->
                </form>
            </div>

        </div>
        
        <br>
        <h6>Lat: {{ lat }}, Long: {{ lng }}</h6>
        <br>
    </div>




    <br>

</div>

</body>
</html>