<!-- index.html -->
<!doctype html>

<html ng-app="mainApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <!-- Optimize mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Markod App</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="bower_components/nprogress/nprogress.css">

    <!-- Google Maps API -->
    <!--
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhujYJ3rPc_91Y5qi0ah7FHMKUkk9AOl0&libraries=geometry"></script>
    -->
    <script src='//maps.googleapis.com/maps/api/js?libraries=geometry'></script>

    <!-- Dependencies -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.min.js"></script>
    <script src="bower_components/angular-ui-event/dist/event.min.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src='bower_components/nprogress/nprogress.js'></script>
    <script src="bower_components/slidereveal/dist/jquery.slidereveal.min.js"></script>

    <script>
        //NProgress.start();
    </script>

    <!-- Our Application Scripts -->
    <script src="javascripts/richmarker.js"></script>
    <script src="javascripts/core.js"></script>
    <script src="javascripts/productCtrl.js"></script>
    <script src="javascripts/gmapsCtrl.js"></script>
    <script src="javascripts/ngscrollbar.js"></script>
</head>

<body>

<div id="div-header" class="row col-md-4 col-md-offset-4"
     style="position: absolute; margin-top: 20px;" ng-controller="productCtrl">
    <!-- Fixed navbar-->
    <form role="search" >
        <div class="entry input-group input-group-lg" >
            <input type="text" id="id_productSearchBox"
                   class="form-control"
                   autocomplete="off"
                   placeholder="Lipton, Su, Deterjan, Bal .."
                   uib-typeahead="product as product.name for product in queryProducts($viewValue) | limitTo:3"
                   ng-model="searchText"
                   typeahead-loading="loadingLocations"
                   typeahead-template-url="templates/product-tmpl.html"
                   typeahead-on-select="onProductSelect($item,$model,$label)"
                   typeahead-min-length="2">
            <span class="input-group-btn">
                <button id="search_btn"
                        class="btn btn-default btn-danger"
                        type="button"
                        ng-click="searchProduct()">
                    <strong>Mar</strong>kod
                </button>
            </span>
        </div>
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    </form>
</div>

<!-- Google Map -->
<div id="main-div" ng-controller="gmapsCtrl" data-ng-init="initMap()">
    <div id="left-panel">
        <div id="left-panel-trigger" class="handle">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div id="left-panel-title">

        </div>
        <!--
        <div id="results-left-panel" class="list-group" ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{show: false}">
            <!-- Here we will list market scan results (with prices)
            <a href="#" class="list-group-item" ng-repeat="marker in marketMarkers"
               ng-click="$parent.selected = marker; leftPanelResultClicked(marker)"
               ng-class="{active:selected==marker}">
                {{marker.market.name}}
                <h4>{{marker.market.name}}</h4><br>
                <h6>{{marker.market.vicinity}}</h6>
            </a>
        </div>
        -->
    </div>

    <div id="map-canvas" ui-map="myMap"
         ui-options="mapOptions"
         ui-event="{'map-idle' : 'onMapIdle()'}"
         ui-event="{'map-click': 'showMarkets()'}">
    </div>
    <!--In addition to creating the markers on the map, div elements with existing google.maps.Marker object should be created to hook up with events -->
    <div ng-repeat="marker in marketMarkers" ui-map-marker="marketMarkers[$index]">
    </div>
</div>

<div id="div-footer">
    <footer class="footer navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="">Markod.com</a>
            </div>
        </div>
    </footer>
</div>

</body>
</html>