<!-- index.html -->
<!doctype html>

<html ng-app="managerApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <!-- Optimize mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Markod App</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="bower_components/nprogress/nprogress.css">

    <!-- Dependencies -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.min.js"></script>
    <script src="bower_components/angular-ui-event/dist/event.min.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src='bower_components/nprogress/nprogress.js'></script>
    <script src="bower_components/angular-environment/dist/angular-environment.min.js"></script>
    <!-- <script src="bower_components/slidereveal/dist/jquery.slidereveal.min.js"></script> -->

    <!-- Our Application Scripts -->
    <script src="javascripts/manager.js"></script>
</head>

<body>

<div class="container" ng-controller="managerCtrl">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab_products">Products</a></li>
        <li><a data-toggle="tab" href="#tab_users">Users</a></li>
        <li><a data-toggle="tab" href="#tab_markets">Markets</a></li>
        <li><a data-toggle="tab" href="#tab_categories">Category</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab_products" class="tab-pane fade in active">
            <!-- Products -->
            <table st-table="displayedCollection" st-safe-src="products" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Product Name</th>
                    <th st-sort="barcode">Barcode</th>
                    <th st-sort="encodedPhoto">Photo</th>
                    <th>Last Modified Date</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input ng-model="name" ng-change="retrieveAllByName(name)" class="form-control" placeholder="Search by Name.." type="text"/>
                    </th>
                    <th colspan="1">
                        <input ng-model="barcode" ng-change="retrieveAllByBarcode(barcode)" class="form-control" placeholder="Search by Barcode" type="text"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in displayedCollection">
                    <td>{{ product.name }}</td>
                    <td>{{ product.barcode }}</td>
                    <td ng-if="product.encodedPhoto !== undefined">OK</td>
                    <td ng-if="product.encodedPhoto === undefined">no</td>
                    <td>{{ product.modified }}</td>
                    <td>
                        <button type="button" ng-click="updateProduct(product)" class="btn btn-md btn-primary">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeProduct(product)" class="btn btn-md btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <!-- <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="10"></div> -->
                        <uib-pagination total-items="totalProducts"
                                        ng-model="currentPage"
                                        ng-init="pageChanged()"
                                        ng-change="pageChanged()"
                                        max-size="itemsPerPage"
                                        class="pagination-md"
                                        boundary-links="true"
                                        force-ellipses="true"></uib-pagination>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div id="tab_users" class="tab-pane fade">
            <h3>Users</h3>
            <table st-table="displayedCollection" st-safe-src="users" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Product Name</th>
                    <th st-sort="email">Barcode</th>
                    <th st-sort="role">Photo</th>
                    <th>Last Modified Date</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input ng-model="name" ng-change="retrieveAllByName(name)" class="form-control" placeholder="Search by Name.." type="text"/>
                    </th>
                    <th colspan="1">
                        <input ng-model="email" ng-change="retrieveAllByBarcode(email)" class="form-control" placeholder="Search by Email" type="text"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in displayedCollection">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ product.modified }}</td>
                    <td>
                        <button type="button" ng-click="updateUser(user)" class="btn btn-md btn-primary">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeUser(user)" class="btn btn-md btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <!-- <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="10"></div> -->
                        <uib-pagination total-items="totalProducts"
                                        ng-model="currentPage"
                                        ng-init="pageChanged()"
                                        ng-change="pageChanged()"
                                        max-size="itemsPerPage"
                                        class="pagination-md"
                                        boundary-links="true"
                                        force-ellipses="true"></uib-pagination>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div id="tab_markets" class="tab-pane fade">
            <h3>Markets</h3>
            <p>Some content in menu 2.</p>
        </div>

        <div id="tab_categories" class="tab-pane fade in active">
            <!-- Products -->
            <table ng-init="retrieveAllCategories()" st-table="categoryCollection" st-safe-src="categories" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Name</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input ng-model="name" ng-change="retrieveAllByName(name)" class="form-control" placeholder="Search by Name.." type="text"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in categoryCollection">
                    <td>{{ category.name }}</td>
                    <td>
                        <button type="button" ng-click="updateProduct(product)" class="btn btn-md btn-primary">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeProduct(product)" class="btn btn-md btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>