<!-- index.html -->
<!doctype html>

<html ng-app="managerApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <!-- Optimize mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Markod App</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="bower_components/nprogress/nprogress.css">

    <!-- Dependencies -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.min.js"></script>
    <script src="bower_components/angular-ui-event/dist/event.min.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src='bower_components/nprogress/nprogress.js'></script>
    <script src="bower_components/angular-environment/dist/angular-environment.min.js"></script>
    <!-- <script src="bower_components/slidereveal/dist/jquery.slidereveal.min.js"></script> -->

    <!-- Our Application Scripts -->
    <script src="javascripts/manager.js"></script>
</head>

<body>

<div class="container" ng-controller="managerCtrl">

    <div class="row">
        <button ng-click="logMeOut()" class="btn btn-success btn-block btn-lg">Logout</button>
        <span class="label label-primary"><%= user %></span>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab_products">Products</a></li>
        <li><a data-toggle="tab" href="#tab_users">Users</a></li>
        <li><a data-toggle="tab" href="#tab_markets">Markets</a></li>
        <li><a data-toggle="tab" href="#tab_categories">Category</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab_products" class="tab-pane fade in active">
            <!-- Products -->
            <table st-table="displayedCollection" st-safe-src="products" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Product Name</th>
                    <th st-sort="barcode">Barcode</th>
                    <th st-sort="encodedPhoto">Photo</th>
                    <th>Last Modified Date</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input ng-model="name" ng-change="retrieveAllByName(name)" class="form-control" placeholder="Search by Name.." type="text"/>
                    </th>
                    <th colspan="1">
                        <input ng-model="barcode" ng-change="retrieveAllByBarcode(barcode)" class="form-control" placeholder="Search by Barcode" type="text"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in displayedCollection">
                    <td>{{ product.name }}</td>
                    <td>{{ product.barcode }}</td>
                    <td ng-if="product.encodedPhoto !== undefined">OK</td>
                    <td ng-if="product.encodedPhoto === undefined">no</td>
                    <td>{{ product.modified }}</td>
                    <td>
                        <button type="button" ng-click="updateProduct(product)" class="btn btn-md btn-primary">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeProduct(product)" class="btn btn-md btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <!-- <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="10"></div> -->
                        <uib-pagination total-items="totalProducts"
                                        ng-model="currentPage"
                                        ng-init="pageChanged()"
                                        ng-change="pageChanged()"
                                        max-size="itemsPerPage"
                                        class="pagination-md"
                                        boundary-links="true"
                                        force-ellipses="true"></uib-pagination>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div id="tab_users" class="tab-pane fade">
            <table st-table="usersCollection" st-safe-src="users" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="email">Email</th>
                    <th>Passwd</th>
                    <th>LoginType</th>
                    <th>Verification</th>
                    <th>Points</th>
                    <th>Role</th>
                    <th>Register Date</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input ng-model="username" ng-change="filterUsersByName(name)" class="form-control" placeholder="Search by Name.." type="text"/>
                    </th>
                    <th colspan="1">
                        <input ng-model="useremail" ng-change="filterUsersByEmail(email)" class="form-control" placeholder="Search by Email" type="text"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in usersCollection">
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.loginType }}</td>
                    <td>{{ user.verification }}</td>
                    <td>{{ user.points }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.signDate }}</td>
                    <td>
                        <button type="button" ng-click="updateUser(user)" class="btn btn-md btn-primary">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeUser(user)" class="btn btn-md btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <uib-pagination total-items="totalUsers"
                                        ng-model="currentUserPage"
                                        ng-init="userPageChanged()"
                                        ng-change="userPageChanged()"
                                        max-size="itemsPerPage"
                                        class="pagination-md"
                                        boundary-links="true"
                                        force-ellipses="true"></uib-pagination>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div id="tab_markets" class="tab-pane fade">
            <table st-table="marketsCollection" st-safe-src="markets" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="id">ID</th>
                    <th>Provider</th>
                    <!-- <th>Provider_ID</th> -->
                    <th>Vicinity</th>
                    <th>Coordinates</th>
                    <th>Modified Date</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input ng-model="marketName" ng-change="filterMarketsByName(name)" class="form-control" placeholder="Search by Name.." type="text"/>
                    </th>
                    <th colspan="1">
                        <input ng-model="market_id" ng-change="filterMarketsById(_id)" class="form-control" placeholder="Search by ID" type="text"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="market in marketsCollection">
                    <td>{{ market.name }}</td>
                    <td>{{ market._id }}</td>
                    <td>{{ market.provider }}</td>
                    <!-- <td>{{ market.id }}</td> -->
                    <td>{{ market.vicinity }}</td>
                    <td>{{ market.loc.coordinates }}</td>
                    <td>{{ market.modified }}</td>
                    <td>
                        <button type="button" ng-click="updateMarket(market)" class="btn btn-md btn-primary">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeMarket(market)" class="btn btn-md btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <uib-pagination total-items="totalMarkets"
                                        ng-model="currentMarketPage"
                                        ng-init="marketPageChanged()"
                                        ng-change="marketPageChanged()"
                                        max-size="itemsPerPage"
                                        class="pagination-md"
                                        boundary-links="true"
                                        force-ellipses="true"></uib-pagination>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div id="tab_categories" class="tab-pane fade">
            <!-- <table ng-init="retrieveAllCategories()" st-table="categoryCollection" st-safe-src="categories" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th st-sort="name">Name</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <input ng-model="name" ng-change="retrieveAllByName(name)" class="form-control" placeholder="Search by Name.." type="text"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="category in categoryCollection">
                    <td>{{ category.name }}</td>
                    <td>
                        <button type="button" ng-click="updateProduct(product)" class="btn btn-md btn-primary">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeProduct(product)" class="btn btn-md btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>-->
        </div>

    </div>
</div>

</body>
</html>