<div class="modal-header">
    <h2 href="#" >{{ productToUpdate.name }}</h2>
    <form role="form">
        <div class="form-group">
            <label for="pName">Name</label>
            <input class="form-control input-lg" ng-model="productToUpdate.name" value="{{productToUpdate.name}}" id="pName" type="text">
        </div>
        <div class="form-group">
            <label for="pBarcode">Barcode</label>
            <input class="form-control input-lg" ng-model="productToUpdate.barcode" value="{{productToUpdate.barcode}}" id="pBarcode" type="text">
        </div>
        <div class="form-group">
            <label for="pModified">Last Modified Date</label>
            <h1 class="form-control" id="pModified" type="text">{{productToUpdate.modified}}</h1>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-lg" type="button" ng-click="updateProductCancel()">Cancel</button>
    <button class="btn btn-primary btn-lg" type="button" ng-click="updateProductOK()">OK</button>
</div>