body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropdown-menu{
  width: -moz-calc(100% - 28px);
  width: -webkit-calc(100% - 28px);
  width: calc(100% - 28px);
}

html                    { overflow-y:scroll; }
body                    { padding-top:50px; }
#todo-list              { margin-bottom:30px; }